@import "tailwindcss";
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1;
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  color-scheme: light dark;
  color: rgb(0, 0, 0);
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer components {
  .fc-event {
    background: transparent !important;
    border: none !important;
    padding: 0 !important;
  }

  .fc-button {
    /* @apply bg-blue-200 rounded-md px-3 py-1 border-none text-sm ; */
    background-color: #bedbff !important; 
    border-radius: 8px !important;
    border: none !important;
    margin-left: 6px !important;
  }
}
